@use '../../foundation/import';

.c-table {
	table {
		thead {
			tr {
				border-bottom: solid 2px import.$black ;
			}
		}
		tbody {
			tr {
				border-bottom: dotted 1px import.$black ;
			}
		}
		tfoot {
			tr {
				border-top: solid 2px import.$black ;
			}
		}
		th,td {
			padding: import.spvw(4);
			@include import.mqMin(import.$tabletPortrait) {
				padding: 8px;
			}
		}
	}
}

